#hypland-logo {
  height: px;
  width: 183px;
}

.top-header {
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  color: #eee;
  transition: transform 0.5s ease;
  border-bottom: 0.4em solid #fff;
}

/* .top-header.show {
  transform: translateX(0);
}

.top-header.hide {
  transform: translateX(-100%);
} */

.top-header ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.top-header ul li {
  display: inline;
  margin: 0 10px;
}

/* .show-top-header {
  display: block;
}

.hide-top-header {
  display: none;
} */
